---
layout: splash
title: "Talks and Presentations"
permalink: /talks/
author_profile: false
sidebar: false
---

<h1>Talks and Presentations</h1>

<a href="/talkmap.html" style="color: #52adc8; text-decoration=underline">Check up a world map of all the places where I have given a talk!</a>

<br>
<p><em><strong> Click through the links of listed talks to view the detailed abstracts and slides! </strong></em></p>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
