---
layout: splash
title: "Teaching"
permalink: /teaching/
author_profile: false
---

<h1>Teaching Experience</h1>

<br>
<big> <i> Instructor:</i> </big>
{% include base_path %}

{% for post in site.teaching.instructor reversed %}
  {% include archive-single.html %}
{% endfor %}

<br>
<big> <i> Teaching Assistant:</i> </big>
{% include base_path %}

{% for post in site.teaching.teach-assistant reversed %}
  {% include archive-single.html %}
{% endfor %}

<br>
<big><i> Grader: </i></big>
<br><br>
<b> Statistical Inference (Master-Level) (STAT 512, 513 at UW), Autumn 2019 & Winter 2020 </b>
<br><br>
<b> Principles of Statistical Reasoning (STAT 220 at UW), Summer 2019 </b>
<br><br>
<b> Statistical Concepts and Methods for the Social Sciences (STAT 221 at UW), Spring 2019 </b>
<br><br>
<b> Introduction to Probability and Mathematical Statistics II (STAT 341 at UW), Winter 2019 </b>
