---
layout: splash
title: "Teaching"
permalink: /teaching/
author_profile: false
---

<h1>Teaching Experience</h1>

<h2> Instructor:</h2>
{% include base_path %}

<big>
<table class="table">
<tr>
  <th>Term</th>
  <th>Course Number</th>
  <th>Course Title</th>
  <th>Course Description</th>
</tr>
<tr></tr>
<tr>
  <td>Autumn 2023, Winter 2024</td>
  <td>STAT 302 at UW</td>
  <td><a href="/teaching/stat302_uw">Statistical Computing</a></td>
  <td>Undergraduate Statistics Course</td>
</tr>
</table>
</big>


<h2> Teaching Assistant:</h2> 
{% include base_path %}

<big>
<table class="table">
<tr>
  <th>Term</th>
  <th>Course Number</th>
  <th>Course Title</th>
  <th>Course Description</th>
</tr>
<tr></tr>
<tr>
  <td>Winter 2023</td>
  <td>CSE 547 / STAT 548 at UW</td>
  <td><a href="/teaching/stat548_uw">Machine Learning for Big Data</a></td>
  <td>Graduate-level Machine Learning Course</td>
</tr>
<tr>
  <td>Autumn 2022</td>
  <td>STAT 512 at UW</td>
  <td><a href="/teaching/stat512_uw">Statistical Inference</a></td>
  <td>Master-level Statistical Inference Course</td>
</tr>
<tr>
  <td>Spring 2018</td>
  <td>SYSU</td>
  <td><a href="/teaching/spring_2018">Matrix Analysis and its Applications</a></td>
  <td>Undergraduate Honor Course (<A href="https://zhangyk8.github.io/teaching/matrix_analysis" style="color: #52adc8; text-decoration=underline">Course Website</A>)</td>
</tr>
<tr>
  <td>Fall 2017</td>
  <td>SYSU</td>
  <td><a href="/teaching/fall_2017">Fourier Analysis and its Applications</a></td>
  <td>Undergraduate Honor Course (<A href="https://zhangyk8.github.io/teaching/fourier" style="color: #52adc8; text-decoration=underline">Course Website</A>)</td>
</tr>
</table>
</big>


<h2> Grader: </h2>

<b> Statistical Learning: Modeling, Prediction, and Computing (STAT 538 at UW), Winter 2024 </b>
<br><br>
<b> Statistical Inference (Master-Level) (STAT 512, 513 at UW), Autumn 2019 & Winter 2020 </b>
<br><br>
<b> Principles of Statistical Reasoning (STAT 220 at UW), Summer 2019 </b>
<br><br>
<b> Statistical Concepts and Methods for the Social Sciences (STAT 221 at UW), Spring 2019 </b>
<br><br>
<b> Introduction to Probability and Mathematical Statistics II (STAT 341 at UW), Winter 2019 </b>
